include ./lib/DarkModeToggler/DarkModeToggler.pug
include ./lib/Footer/Footer.pug

doctype html
html(lang="es" class="no-transition")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="images/favicon.ico", type="image/x-icon")
    include ./fonts/googleFonts.pug
    include ./fonts/montserratFont.pug
    include ./styles/styles.pug
    include ./scripts/scripts.pug
      
    title The Met Museum
  body
    +DarkModeToggler()
    div(class="transition-colors duration-300 ease-out dark:ease-in scroll-smooth bg-primary-100 text-primary-950 dark:bg-primary-950 dark:text-primary-100")
      div(class="flex flex-col h-screen")
        img(
          src="images/404.jpg"
          alt=""
          class="object-cover w-full h-96"
        )

        div(class="flex items-center justify-center flex-1 py-10")
          div(class="max-w-xl px-4 py-8 mx-auto text-center")
            h1(class="text-2xl font-bold tracking-tight text-primary-900 sm:text-4xl dark:text-primary-100") 404
            p(class="mt-4 text-primary-500 dark:text-primary-400")
              | ¡Epa! No se ha encontrado la página que buscas.
            a(
              href="#"
              class="inline-block px-5 py-3 mt-6 text-sm font-medium text-white rounded bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring dark:text-primary-800 dark:bg-primary-200"
            ) Ir al inicio
        +Footer()