mixin Card({ title = "Card", culture = 'N/A', dynasty = 'N/A', image = "https://picsum.photos/id/1005/400/200", className = "" })
  div(class=`${className} flex flex-col items-center justify-center w-full h-full bg-neutral-100 dark:bg-neutral-800 rounded-md shadow-lg`)
    div(class="flex flex-col items-center justify-center w-full h-full")
      img(src=image class="w-full h-full")
      h1(class="text-xl font-semibold text-neutral-900 dark:text-neutral-100") #{title}
      h2(class="text-sm font-semibold text-neutral-700 dark:text-neutral-300") #{culture}
      h2(class="text-sm font-semibold text-neutral-700 dark:text-neutral-300") #{dinasty}